h1 .pixelify-sans-font{
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sixtyfour-font {
 font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

body{
    margin: 0;
    background-color: black;
    color: white;
}

head {
    margin: 0;
    background-color: black;
}

nav{
    background-color: rgb(78, 78, 78);
    background-image: url("https://t4.ftcdn.net/jpg/00/59/95/89/360_F_59958917_1SvEPqvKnrGr68THJ35hqQUiHwQ6WhCN.jpg");
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: right;
    font-family: Sixtyfour, sans-serif;
    font-weight:lighter;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: rgb(54, 107, 151);
    padding: 10px 20px;
    font-family: Sixtyfour, sans-serif;
}

nav a:hover .sixtyfour-font{
    color: white;
    font-weight: bolder;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer{
    background-color: black;
    color: gray;
    display: flex;
    justify-content: center;
    font-weight:lighter;
    font-size: larger;
}

footer a{
    text-decoration: none; 
    color: gray;
    padding: 10px 15px;
}

footer a:hover{
    color: white;
    font-weight: bolder;
}

/* add 2 class selectors here later */

.section1 {
    background-image: url("../images/star-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
}

.section2 {
    background-image: url("../images/star-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px;
    background-color: black;
    padding: 20px;
    color: white;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 a{
    text-decoration: none;
}

hr {
    border: 5px solid white;
    margin: 15px;
}

.border {
    border: 5px solid white;
}

h1 {
    color: white;
    margin: 0;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    background-color: black;
}

h2 {
    color: white;
    font-family: 'monospace';
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    background-color: black;
}

.h2Hello {
    text-align: center;
    font-size: 2.5em;
    font-family: 'monospace';
}

.AboutMe {
    font-family: 'monospace';
    text-align: center;
}

p{
    font-family: 'monospace';
    text-align: center;
    font-size: 1.5em;
}

a{
    text-decoration: none;
    color: gray;
    padding: 10px 20px;
}

a:hover{
    color: white;
    font-weight: bolder;
    font-size: 1.2em; 
}

.pixelify-sans-font {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
}

  .section-one-headshot {
    background-color: black;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;   
  }
    .three-col {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card {
        background-color:rgb(78, 78, 78);
        box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.2s ease;
        padding: 20px;
        box-sizing: border-box;
    }

    .card:last-child{
        padding-right: 20px;
    }

    .card:hover {
        transform: scale(1.05);
        transform: rotate(2deg);
    }

    .card-image-uniform {
        width: 100%;
        height: 270px;
        object-fit: cover;
        border-radius: 10px;
    }

    .card-image {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        flex-direction: column;
    }

    li {
        padding: 10px 20px;
        color: black;
        font-weight: bold;
        font-size: 1.1em;
    }

h3 {
    text-align: center;
    font-size: 1.25rem;
    margin-top: 10px;
    color: black;
}

dt{
    font-weight: bold;
    color: black;
}

dl {
    display: grid;
    gap: 15px;
    list-style: none;
    color: black;
}

.one-col {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form input[type= "text"]

form textarea {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form input[type="submit"] {
    width: 60%;
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-section{ 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}